  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    {% if page.layout == 'home' %}
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    {% endif %}
  </header>

  {% include navigation.html %}

  <main id="content" class="main-content" role="main">
